<!DOCTYPE html>
<html ng-app="myapp">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
		<meta name="description" >
		<meta name="author" >

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href='fonts/font.css' rel='stylesheet' type='text/css'>

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css">
		<link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.css" media="screen">
		<link rel="stylesheet" href="vendor/owlcarousel/owl.theme.css" media="screen">
		<link href="vendor/owl-carousel/owl.transitions.html" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="vendor/flexslider/flexslider.css" media="screen">
		<link rel="stylesheet" href="vendor/chosen/chosen.css" media="screen">
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">
        <link rel="stylesheet" href="css/colors/style.css" media="screen">

        <link rel="stylesheet" href="css/datetimepicker.less" media="screen">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-animate.css">
		
		<!-- angular js -->
		<script src="js/angular-1.3.js"></script>
		<script src="js/angular_cookies.js"></script>

		<!-- Style Switcher-->

		<!-- Head libs -->
		<script src="vendor/modernizr/modernizr.js"></script>

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->


			<script src="vendor/respond/respond.js"></script>
			<script src="vendor/excanvas/excanvas.js"></script>
            <link rel="stylesheet" type="text/css" href="css/DateTimePicker.css" />

            <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="js/DateTimePicker.js"></script>


            <link rel="stylesheet" type="text/css" href="css/DateTimePicker-ltie9.css" />
            <script type="text/javascript" src="js/DateTimePicker-ltie9.js"></script>


        <style>



            .page-wrap {
                max-width: 75rem;
                margin: 0 auto;
            }

            h1 {

                font-size: 1.5rem;
                letter-spacing: -1px;
                margin: 1.25rem 0;
            }

            input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
                font-size: 0.75em;

                top: -2.25rem;
                -webkit-transition: all 0.125s ease;
                transition: all 0.125s ease;
            }

            .styled-input {
left:10px;
                width: 90%;
                margin: 2rem 0 1rem;
                position: relative;
            }

            .styled-input label {
                color: #999;
                padding: 1rem;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transition: all 0.25s ease;
                transition: all 0.25s ease;
                pointer-events: none;
            }



            input,
            textarea {
                position: relative;
                height: 2.9em;
                border: 0px solid #bebebe;
                border-bottom-width: 1px;
                width: 100%;
            }

            input ~ span,
            textarea ~ span {
                display: block;
                width: 0;
                height:1px;
                background: #ccd6d5;
                position: absolute;
                bottom: 0;
                left: 0;
                -webkit-transition: all 0.125s ease;
                transition: all 0.125s ease;
            }

            input:focus,
            textarea:focus { outline: 0; }

            input:focus ~ span,
            textarea:focus ~ span {
                width: 100%;
                -webkit-transition: all 0.075s ease;
                transition: all 0.075s ease;
            }

            textarea {
                width: 100%;
                min-height: 15em;
            }
        </style>

<!-- script back button -->
	<script src="cordova.js"></script>
	<script>
	function onLoad() 
	{
		document.addEventListener("deviceready", deviceReady, false);
	}
	function deviceReady() 
	{
		document.addEventListener("backbutton", backButtonCallback, false);
	}
	function backButtonCallback() 
	{
		navigator.app.backHistory();
	}
	</script>


	</head>
	<body  style="background-color: #dcdcdc" class="front bg-pattern-dark" ng-controller="myappCtrl">
		<div >
			<header id="header">
				<div class="header-top">
					<div class="container">
						<a href="#offcanvas" class="uk-navbar-toggle" style="float:left;" data-uk-offcanvas>
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i>
						</a>
                        <nav>
						 <ul class="nav nav-pills nav-top nav-top-left">
								<div class="head" style="font-family:Quicksand;font-size:28px;font-weight:500">Kaiyin Kalaigal</div>
						</ul>
                            <ul class="nav nav-pills nav-top nav-top-right">

                                

                                <!--<li class="login">
                                    <a data-target=".form-wrapper" data-toggle="modal" href="javascript:void(0);"></a></li>
                                <li class="search"><a data-target=".search-wrapper" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-search"></i></a></li>-->
                                 <li class="login" ng-hide="myLoginVar">
                                    <a data-target=".form-wrapper" data-toggle="modal"><img class="fa icon-x" src="images/icons/user1.png"/> </a>
                                </li>
								
								<li class="login"  ng-hide="myAccountVar">
                                    <a href="account.html"><img class="fa icon-x" src="images/icons/user1.png"/> </a>
                                </li>
                            </ul>
                        </nav>

					</div>	
				</div>




				
			</header>
            <br>

            <br>

 <div class="col-md1 simpleCart_shelfItem">

                <div style="font-weight: 100;font-size: 1.6em ;text-align: center;color: #000000" >Create New Address</div>
            </div>
            <div class="col-md1 simpleCart_shelfItem">

                <div class="container">
                    <div style="position: relative;left: 10px;">
                    <form>
                        <div class="styled-input">
                            <input type="text" ng-model="cus_street"  />
                            <label>Street</label>
                            <span></span> </div>
						<div class="styled-input">
                            <input type="text" ng-model="cus_landmark"  />
                            <label>Landmark</label>
                            <span></span> </div>
                        <div class="styled-input">
                            <input type="text" ng-model="cus_city"  />
                            <label>City</label>
                            <span></span> </div>
                        <div class="styled-input">
                            <input type="text" ng-model="cus_state"  />
                            <label>State</label>
                            <span></span> </div>
                        <div class="styled-input">
                            <input type="number" ng-model="cus_pincode"  />
                            <label>Pincode</label>
                            <span></span> </div> 
						<div class="styled-input">
                            <input type="text" ng-model="cus_country"  />
                            <label>Country</label>
                            <span></span> </div>
                        <div class="styled-input">
                            <input type="text" ng-model="cus_mobile"   />
                            <label>Mobile</label>
                            <span></span> </div>
                        <div class="styled-input">
						
							<select ng-model="cus_type" >
									<option value="">Status</option>
									<option value="Wallet">Wallet</option>
									<option value="COD">COD</option>
							</select>
                            <span></span> 							
							</div>

                    </form>
                    </div>




                </div>

                <a ng-click="create_address()"  ng-hide="btn_save" style="cursor:pointer">

                    <button type="button" class="btn btn-primary btn-block">SAVE</button>
                </a>


                  </div>

        <br>
            <br>



            </div>








        <br>












																				</div>












     <div class="modal fade form-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <ul role="tablist" class="nav nav-tabs grid-tabs text-center">
                        <li class="active"><a data-toggle="tab" role="tab" href="#login">Login</a></li>
                        <li><a data-toggle="tab" role="tab" href="#register">Sign Up</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="login" class="tab-pane active">
                            <form class="form-block" role="form">
                                <div class="text-center">
                                    <h2>I'm already a member</h2>

                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="text" ng-model="log_email" ng-change="login_email()"  />
                                        <label>Email Address</label>
                                        <span></span>
										<span ng-hide="er_email" style="color:red" class="form-help form-help-msg text-red">Invalid Email</span>
										</div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="password" ng-model="log_password"  />
                                        <label>Password</label>
                                        <span></span> </div>
                                     </div>

                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="btn_sgnin" ng-click="user_login()" >LOGIN</button>

                                </div>

                                  <div class="text-center">
                                      <a href="resetpass.html">
                                   <h4>FORGOT PASSWORD ?</h4>
                                      </a>
                                  </div>






                            </form>
                        </div>
                        <div id="register" class="tab-pane">
                            <form class="form-block" role="form">
                                <div class="text-center">
                                    <h2>I'm new here</h2>

                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="text"  ng-model="reg_fname"  />
                                        <label>First Name</label>
                                        <span></span> </div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="text" ng-model="reg_lname"  />
                                        <label>Last Name</label>
                                        <span></span> </div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="email"  ng-model="reg_email" ng-change="register_email()"  />
                                        <label>Email </label>
                                        <span></span> 
										<span ng-hide="er_email" style="color:red" class="form-help form-help-msg text-red">Invalid Email</span>
										</div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="text"  ng-model="reg_password"  />
                                        <label>Password</label>
                                        <span></span> </div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="number" ng-model="reg_mobile" ng-change="mobile_no()"  />
                                        <label>Mobile</label>
                                        <span></span> 
										<span ng-hide="er_mob"  style="color:red" class="form-help form-help-msg text-red">Invalid Mobile Number</span>
                                </div>

                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="btn_sgnup" ng-click="user_register()" >SIGN UP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
        <!-- Begin Search 
        <div class="modal fade bs-example-modal-lg search-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <p class="clearfix"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></p>
                    <form class="form-inline form-search" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="textsearch">Enter text search</label>
                            <input type="text" class="form-control input-lg" id="textsearch" placeholder="Enter text search">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>-->









         <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
				<ul id="main-menu-offcanvas" class="uk-nav-offcanvas" data-uk-nav>
					<h2 style="color:#fff;padding:1.5em;margin:0;font-family:Quicksand;font-weight:bold">Kaiyin Kalaigal</h2>
					<span class="uk-parent">
						<a href="index.html"><img src="images/icons/warehouse.png" class="fa icon"> &nbsp;&nbsp;&nbsp;Home</a>

					</span>
					<span class="uk-parent"  ng-hide="myAccountVar">
						<a href="account.html"><img src="images/icons/user.png" class="fa icon"> &nbsp;&nbsp;&nbsp;My Account</a>

					</span>
					<span class="uk-parent"  ng-hide="myCartVar">
						<a href="bag.html"><img src="images/icons/cart.png" class="fa icon"> &nbsp;&nbsp;&nbsp;My Cart</a>

					</span>
					<span class="uk-parent"  ng-hide="myOrdersVar">
						<a href="order.html"><img src="images/icons/delivery-man.png" class="fa icon">  &nbsp;&nbsp;&nbsp;My Order</a>

					</span>
					
                    <span class="uk-parent"  ng-hide="myLogoutVar">
						<a style="cursor:pointer" ng-click="user_logout()"><img src="images/icons/logout.png" class="fa icon"> &nbsp;&nbsp;&nbsp;Logout</a>
					</span>
				</ul>
			</div>
		</div>

		<!-- Begin Style Switcher -->
	
		<!-- Vendor -->
			<script src="vendor/jquery.validation/jquery.validation.js"></script>
		<script src="vendor/owlcarousel/owl.carousel.js"></script>
		<script src="vendor/flexslider/jquery.flexslider-min.js"></script>
		<script src="vendor/countdown/countdown.min.js"></script>
		<script src="vendor/chosen/chosen.jquery.min.js"></script>
		<script src="vendor/pricefilter/jquery.pricefilter.js"></script>
		<script src="vendor/masonry/imagesloaded.pkgd.min.js"></script>
		<script src="vendor/masonry/masonry.pkgd.min.js"></script>
		<script src="vendor/uikit/uikit.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Style Switcher -->
		<script type="text/javascript" src="style-switcher/js/switcher.js"></script>


        <script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
            $('.form_date').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });
        </script>
		<!-- angular js -->
		<script src="js/angular_customer_address.js"></script>
<body onload="onLoad()">		
	</body>
</html>