<!DOCTYPE html>
<html ng-app="myapp">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
			<meta name="keywords" content="HTML5 Template" />
		<meta name="description" >
		<meta name="author" content="pixelgeeklab.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href='fonts/font.css' rel='stylesheet' type='text/css'>

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css">
		<link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.css" media="screen">
		<link rel="stylesheet" href="vendor/owlcarousel/owl.theme.css" media="screen">
		<link href="vendor/owl-carousel/owl.transitions.html" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="vendor/flexslider/flexslider.css" media="screen">
		<link rel="stylesheet" href="vendor/chosen/chosen.css" media="screen">
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">
        <link rel="stylesheet" href="css/colors/style.css" media="screen">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-animate.css">
		
		
		<!-- angular js -->
		<script src="js/angular-1.3.js"></script>
		<script src="js/angular_cookies.js"></script>

		<!-- Style Switcher-->
	<link href="css/colors/default/style.html" rel="stylesheet" id="layoutstyle">

		<!-- Head libs -->
		<script src="vendor/modernizr/modernizr.js"></script>

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->


			<script src="vendor/respond/respond.js"></script>
			<script src="vendor/excanvas/excanvas.js"></script>
            <link rel="stylesheet" type="text/css" href="css/DateTimePicker.css" />

            <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="js/DateTimePicker.js"></script>


            <link rel="stylesheet" type="text/css" href="css/DateTimePicker-ltie9.css" />
            <script type="text/javascript" src="js/DateTimePicker-ltie9.js"></script>


        <style>



            .page-wrap {
                max-width: 75rem;
                margin: 0 auto;
            }

            h1 {

                font-size: 1.5rem;
                letter-spacing: -1px;
                margin: 1.25rem 0;
            }

            input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
                font-size: 0.75em;

                top: -2.25rem;
                -webkit-transition: all 0.125s ease;
                transition: all 0.125s ease;
            }

			.styled-input {
				font-size:18px;
				font-weight:bold;
                left:10px;
                width: 100%;
                margin: 2rem 0 1rem;
                position: relative;
            }

            .styled-input label {
				
                color: #999;
                padding: 1rem;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transition: all 0.25s ease;
                transition: all 0.25s ease;
                pointer-events: none;
            }



            input,
            textarea {
                position: relative;
                height: 2.9em;
                border: 0px solid #bebebe;
                border-bottom-width: 1px;
            }

            input ~ span,
            textarea ~ span {
                display: block;
                width: 0;
                height:1px;
                background: #ccd6d5;
                position: absolute;
                bottom: 0;
                left: 0;
                -webkit-transition: all 0.125s ease;
                transition: all 0.125s ease;
            }

            input:focus,
            textarea:focus { outline: 0; }

            input:focus ~ span,
            textarea:focus ~ span {
                width: 100%;
                -webkit-transition: all 0.075s ease;
                transition: all 0.075s ease;
            }

            textarea {
                width: 100%;
                min-height: 15em;
            }
        </style>
<!-- script back button -->
	<script src="cordova.js"></script>
	<script>
	function onLoad() 
	{
		document.addEventListener("deviceready", deviceReady, false);
	}
	function deviceReady() 
	{
		document.addEventListener("backbutton", backButtonCallback, false);
	}
	function backButtonCallback() 
	{
		//navigator.app.exitApp();
	}
	</script>

    </head>
	<body  style="background-color: #dcdcdc"  ng-controller="myappCtrl">


					<header id="header">
				<div class="header-top">
					<div class="container">
						<a href="#offcanvas" class="uk-navbar-toggle" style="float:left;" data-uk-offcanvas>
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i>
						</a>
                        <nav>
						 <ul class="nav nav-pills nav-top nav-top-left">
								<div class="head" style="font-family:Quicksand;font-size:28px;font-weight:500">Kaiyin Kalaigal</div>
						</ul>
                            <ul class="nav nav-pills nav-top nav-top-right">

                                
                               <li class="login" ng-hide="myLoginVar">
                                    <a data-target=".form-wrapper" data-toggle="modal"><img class="fa icon-x" src="images/icons/user1.png"/> </a>
                                </li>
								
								<li class="login"  ng-hide="myAccountVar">
                                    <a href="account.html"><img class="fa icon-x" src="images/icons/user1.png"/> </a>
                                </li>


                            </ul>
                        </nav>

					</div>	
				</div>
				
			</header>



            <div class="col-md1 simpleCart_shelfItem">
			
                       <img  class="pic lazyLoad img-responsive" src="images/wall.jpeg" alt=""/>

            </div>


            <div class="content" style="margin-bottom:1em">
			
				
            <div class="col-md1 simpleCart_shelfItem">

                <div style="font-weight:bold;font-size: 1.6em ;text-align: center;color: #000000" >Shop By Category</div>
            </div>
                <div class="container" >
				
				<div style="position: relative;">
				
                    <form class="form"  >
					
					<section class="content-inner">
					<div class="form-group form-group-label">
							<div class="row">
								<div class="col-lg-4 col-md-8 col-sm-8">
									<input ng-model="search_field" class="form-control" id="orders_product" placeholder="Search" type="text">
									<!--
						   <select ng-model="field_1" >
									<option value="">Locality</option>
									<option  ng-repeat="x in all_locality |orderBy:'cus_id':true " value="{{x.category3}}">{{x.category3}}</option>
							</select>
								-->
								</div>
								
							</div>
						</div>
					</section>
								</form>

                    <div class="col-md-3 col-md2"  
					ng-repeat="data in all_category  | filter : search_field ">
                        <div class="col-md1 simpleCart_shelfItem">
                            <a  style="cursor:pointer" ng-click="category_details(data.field_1)">
                                <img  width="250px" height="250px" class="img-responsive" src="{{data.field_2}}" alt=""/>
													
							<h3 style="padding:5px;color:#050f41;font-size:20px;text-center:justify;" ng-bind="data.field_1"></h3>

                            </a>
                        </div>
                    </div>
                    </div>
                    </div>


<!--
		<div class="row" style="margin-left:5px;margin-right:5px;">
            <div class="col-md1 simpleCart_shelfItem">

                <div style="font-weight:bold;font-size: 1.6em ;text-align: center;color: #000000" >All Products</div>
            </div>
                    <div class="col-xs-6"   ng-repeat="data in all_lastest_product   | filter : field_1  | filter : search_field |orderBy:'product_id':true">
                        <div class="col-md1 simpleCart_shelfItem">
                            <a  style="cursor:pointer" ng-click="product_details(data.product_id,data.email)">
							
                                <img   width="250px" height="350px" class="pic lazyLoad img-responsive" src="{{data.pimage}}" alt=""/>
								
                            <h3 style="font-size:18px" ng-bind="data.pname"></h3>
                            <div class="price">
                                
								<h5 class="item_price" style="color:green;" 
								  ><i class="fa fa-inr"></i>  {{data.price}} </h5>	 &nbsp;
							

                                <div class="clearfix"> </div>
                            </div>
							 </a>
                        </div>
                    </div>

                </div>
-->
			<!--
            <div class="row" style="margin-left:5px;margin-right:5px;">
            <div class="col-md1 simpleCart_shelfItem">

                <div style="font-weight:bold;font-size: 1.6em ;text-align: center;color: #000000" >All Products</div>
            </div>
                    <div class="col-xs-6"   ng-repeat="data in all_lastest_product   | filter : field_1  | filter : search_field |orderBy:'product_id':true">
                        <div class="col-md1 simpleCart_shelfItem">
                            <a  style="cursor:pointer" ng-click="product_details(data.product_id,data.email)">
							
                                <img   width="250px" height="350px" class="pic lazyLoad img-responsive" src="{{data.pimage}}" alt=""/>
								
                            <h3 style="font-size:18px" ng-bind="data.pname"></h3>
                            <div class="price">
                                
								<h5 class="item_price" style="color:green;" 
								  ><i class="fa fa-inr"></i>  {{data.price}} </h5>	 &nbsp;
							

                                <div class="clearfix"> </div>
                            </div>
							 </a>
                        </div>
                    </div>

                </div>
				
				-->
				
	
<div class="modal fade filter-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<div class="col-md1 simpleCart_shelfItem">
				<div style="font-weight: 100;font-size: 1.6em ;text-align: center;color: #000000" >Filter</div>
			</div>

            <div class="content" style="margin-bottom:5em">
                <div class="container">
                   <nav class="tab-nav">
							<ul class="nav nav-justified pull-left">
								<li class="active" style="width:100%;">
									<a class="waves-attach" data-toggle="tab" href="#first-tab">Category</a>
								</li>
								<li style="width:100%;">
									<a class="waves-attach" data-toggle="tab" href="#second-tab">Types</a>
								</li>
								<li  style="width:100%;">
									<a class="waves-attach" data-toggle="tab" href="#third-tab">Brand</a>
								</li>
								<li  style="width:100%;">
									<a class="waves-attach" data-toggle="tab" href="#fourth-tab">Size</a>
								</li>
								<li  style="width:100%;">
									<a class="waves-attach" data-toggle="tab" href="#fifth-tab">Offers</a>
								</li>
							</ul>
						</nav>
						<div class="tab-content pull-right">
							<div class="tab-pane fade active in" id="first-tab">
									<form class="form">
										<div class="form-group" style="padding:1.5em">
								<!--
								<label class="checkbox"><input type="checkbox" name="checkbox" value="All" ng-checked="selection.indexOf('All') > -1" ng-click="toggle('All')"><i></i>All</label>
							<label class="checkbox" ng-repeat="x in category">
								<input id="{{ x.category }}" type="checkbox" name="checkbox" value="{{ x.category }}" ng-checked="selection.indexOf(x.category) > -1" ng-click="toggleSelection(x.category)">
								<i></i>{{ x.category }}

										-->
										
										<div class="radio radio-adv" ng-repeat="x in category">
												<label>
													<input class="access-hide" name="input-radio" type="radio">{{x.category}}
													<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon"></span>
												</label>
											</div>
										</div>
									</form>
							</div>
							<div class="tab-pane fade" id="second-tab">
								<form class="form">
										<div class="form-group" style="padding:1.5em">
											<div class="radio radio-adv" ng-repeat="x in types">
												<label>
													<input class="access-hide" ng-click="cat_filter()" name="input-radio" id="category" type="radio"  value="{{x.types}}">{{x.types}}
													<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon"></span>
												</label>
											</div>
										</div>
								</form>
							</div>
							<div class="tab-pane fade" id="third-tab">
								<form class="form" >
										<div class="form-group" style="padding:1.5em">
											<div class="radio radio-adv" ng-repeat="x in brand">
												<label >
													<input class="access-hide"  name="input-radio" type="radio">{{x.brand}}
													<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon"></span>
												</label>
											</div>
										</div>
								</form>
							</div>
							<div class="tab-pane fade" id="fourth-tab">
								<form class="form" >
										<div class="form-group" style="padding:1.5em">
											<div class="radio radio-adv" ng-repeat="x in size">
												<label >
													<input class="access-hide" name="input-radio" type="radio">{{x.size}}
													<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon"></span>
												</label>
											</div>
										</div>
								</form>
							</div>
							<div class="tab-pane fade" id="fifth-tab">
								<form class="form" >
										<div class="form-group" style="padding:1.5em">
											<div class="radio radio-adv"  ng-repeat="x in offers">
												<label >
													<input class="access-hide" name="input-radio" type="radio">{{x.offers}}
													<span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon"></span>
												</label>
											</div>											
										</div>
									</form>
							</div>
						</div>
                </div>
            </div>
        </div>
    </div>
</div>







  <div class="modal fade form-wrapper" tabindex="-1" role="dialog" aria-hidden="true" 
  style="background-color:white;">
            <div class="modal-dialog" style="background-color:white;">
                <div class="modal-content" style="background-color:white;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <ul style="font-size:12px;" role="tablist" class="nav nav-tabs grid-tabs text-center">
                        <li class="active"><a data-toggle="tab" role="tab" href="#login">Login</a></li>
                        <li><a data-toggle="tab" role="tab" href="#register">New User </a></li>
                        <li><a data-toggle="tab" role="tab" href="#registervendor">New Vendor </a></li>
                    </ul>
                    <div class="tab-content" style="background-color:white;margin-right:50px;"> 
                        <div id="login" class="tab-pane active">
                            <form class="form-block" role="form">
                                <div class="text-center">
                                    <h2>I'm already a member</h2>

                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="text" ng-model="log_email"  />
                                        <label>Email Address</label>
                                        <span></span>
										
										</div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="password" ng-model="log_password"  />
                                        <label>Password</label>
                                        <span></span> </div>
                                     </div>

                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary btn-block" ng-click="user_login()" >LOGIN</button>

                                </div>

                                  <div class="text-center">
                                      <a href="resetpass.html">
                                   <h4>FORGOT PASSWORD ?</h4>
                                      </a>
                                  </div>





                            </form>
                        </div>
                        <div id="register" class="tab-pane" 
						style="background-color:white;margin-right:50px;">
                            <form class="form-block" role="form">
                                <div class="text-center">
                                    <h2>I'm New User</h2>

                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="text"  ng-model="reg_fname"  />
                                        <label>First Name</label>
                                        <span></span> </div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="text" ng-model="reg_lname"  />
                                        <label>Last Name</label>
                                        <span></span> </div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="email"  ng-model="reg_email"   />
                                        <label>Email </label>
                                        <span></span> 
										</div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="password"  ng-model="reg_password"  />
                                        <label>Password</label>
                                        <span></span> </div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="number" ng-model="reg_mobile"  />
                                        <label>Mobile</label>
                                        <span></span> 
                                </div>

                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary btn-block"  ng-click="user_register()" >SIGN UP</button>
                                </div>
                            </form>
                        </div>
                    </div>
					
					<!-- New vendor-->
					<div id="registervendor" class="tab-pane" 
					style="background-color:white;margin-right:50px;">
                            <form class="form-block" role="form">
                                <div class="text-center">
                                    <h2>I'm New Vendor</h2>

                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="text"  ng-model="reg_fname"  />
                                        <label>Name</label>
                                        <span></span> </div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="text" ng-model="reg_lname"  />
                                        <label>Full Name </label>
                                        <span></span> </div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="email"  ng-model="reg_email"   />
                                        <label>Email </label>
                                        <span></span> 
										</div>
                                </div>
                                <div class="form-group">
                                    <div class="styled-input">
                                        <input type="password"  ng-model="reg_password"  />
                                        <label>Password</label>
                                        <span></span> </div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="number" ng-model="reg_mobile"placeholder="10 Digit"  />
                                        <label>Mobile</label>
                                        <span></span> 
									</div>
                                </div>
								<div class="form-group">
                                    <div class="styled-input">
                                        <input type="text" ng-model="field_2" placeholder="12 Digit" />
                                        <label>Adhaar</label>
                                        <span></span> 
                                </div>
                                </div>

                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary btn-block"  ng-click="vendor_register()" >SIGN UP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
                    <!-- Begin Search 
                    <div class="modal fade bs-example-modal-lg search-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <p class="clearfix"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></p>
                                <form class="form-inline form-search" role="form">
                                    <div class="form-group">
                                        <label class="sr-only" for="textsearch">Enter text search</label>
                                        <input type="text" class="form-control input-lg" id="textsearch" placeholder="Enter text search">
                                    </div>
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>-->


         <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
				<ul id="main-menu-offcanvas" class="uk-nav-offcanvas" data-uk-nav>
					<h2 style="color:#fff;padding:1.5em;margin:0;font-family:Quicksand;font-weight:bold">Kaiyin Kalaigal</h2>
					<span class="uk-parent">
						<a href="index.html"><img src="images/icons/warehouse.png" class="fa icon"> &nbsp;&nbsp;&nbsp;Home</a>
					</span>
					
                    <span class="uk-parent"  ng-hide="myLogoutVar">
						<a style="cursor:pointer" ng-click="user_logout()"><img src="images/icons/logout.png" class="fa icon"> &nbsp;&nbsp;&nbsp;Logout</a>
					</span>
					
					<span class="uk-parent"  ng-hide="myAccountVar">
						<a href="wallet.html"><img src="images/icons/purse.png" class="fa icon"> &nbsp;&nbsp;&nbsp;My Wallet</a>

					</span>
					
					<span class="uk-parent"  ng-hide="myAccountVar">
						<a href="account.html"><img src="images/icons/user.png" class="fa icon"> &nbsp;&nbsp;&nbsp;My Account</a>

					</span>
					<span class="uk-parent"  ng-hide="myCartVar">
						<a href="bag.html"><img src="images/icons/cart.png" class="fa icon"> &nbsp;&nbsp;&nbsp;My Cart</a>

					</span>
					<span class="uk-parent"  ng-hide="myOrdersVar">
						<a href="order.html"><img src="images/icons/delivery-man.png" class="fa icon"> &nbsp;&nbsp;&nbsp;My Order</a>
					</span>
					
					<span class="uk-parent"  ng-hide="myAccountVar">
						<a href="staticctnt.html"><img src="images/icons/painter.png" class="fa icon"> &nbsp;&nbsp;&nbsp;About Us</a>

					</span>
					
                    
				</ul>
			</div>
		</div>

		<!-- Begin Style Switcher -->
	
		<!-- Vendor -->
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="js/main.js"></script>




    <script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/bootstrap/bootstrap.js"></script>
		<script src="vendor/jquery.validation/jquery.validation.js"></script>
		<script src="vendor/owlcarousel/owl.carousel.js"></script>
		<script src="vendor/flexslider/jquery.flexslider-min.js"></script>
		<script src="vendor/countdown/countdown.min.js"></script>
		<script src="vendor/chosen/chosen.jquery.min.js"></script>
		<script src="vendor/pricefilter/jquery.pricefilter.js"></script>
		<script src="vendor/masonry/imagesloaded.pkgd.min.js"></script>
		<script src="vendor/masonry/masonry.pkgd.min.js"></script>
		<script src="vendor/uikit/uikit.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Style Switcher -->
		<script type="text/javascript" src="style-switcher/js/switcher.js"></script>
		
		<!-- angular js -->
		<script src="js/angular_product.js"></script>
		
	<body onload="onLoad()">	
	</body>
</html>